<!DOCTYPE html>
<!--
  yes of course this site is html5 compatible who do you think i am, a monster?
  we are using modern technology here this is all satire work and does not
  reflect my actual design skills
-->

<html>
  <head>
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="/css/90s_are_calling_and_they_want_their_style_back.css">
  </head>
  <body>
    <header class="global">
      <div class="container">
        <h1><a href="/"><img src="/assets/NATIVEOS.PNG" alt="The NativeOS Project"></a></h1>
      </div>
    </header>

    <nav class="global-nav">
      <div class="container">
      <ul>
        <li><a href="/"><img src="/assets/ICONS/HOME.PNG"> Home Page</a></li>
        <li><a href="/docs/"><img src="/assets/ICONS/HELP.PNG"> Documentation</a></li>
        <li><a href="/devsdk/"><img src="/assets/ICONS/PACKAGE.PNG"> Developer Reference</a></li>
        <li><a href="/articles/"><img src="/assets/ICONS/DOCUMENT.PNG"> Technical Articles</a></li>
        <li><a href="https://github.com/danirod/nativeos" target="_blank"><img src="/assets/ICONS/SERVER.PNG"> Source</a></li>
      </ul>
      </div>
    </nav>

    <div class="container">
      {{ content }}
    </div>

    <hr>

    <footer class="global-foot">
      <div class="container">
        &copy; 2015-2017 <a href="https://www.danirod.es" target="_blank">Dani Rodríguez</a> &bull; <a href="https://twitter.com/danirod93" target="_blank">@danirod93</a><br>
        Licensed under terms of <a target="_blank" href="https://creativecommons.org/licenses/by-nc-nd/3.0/es/" target="_blank">Creative Commons BY-NC-ND 3.0 Spain</a>
      </div>
    </footer>
  </body>
</html>